html, body, button {
  height: 100%;
  width: 100%;
}

button {
  background: url('chlo.JPG');
  background-size: cover;
  background-attachment: fixed;
}

h1, h3, h6 {
  color: #fff;
}

p {
  text-align: center;
  line-height: .5;
}

#top {
  line-height: 1.5;
}